body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    position: relative;
    border: 0px solid #eee;
    /*overflow: hidden;*/
    color: #000;
}
.boldline {
    position: relative;
    width: 1140px;
    height: 0.5em;
    background: #808500 repeat-x;
    margin-bottom: 2px;
}

.shortboldline {
    position: relative;
    width: 1024px;
    height: 0.5em;
    background: #808500 repeat-x;
    margin-bottom: 2px;
}


.shortthinline {
    position: relative;
    width: 1024px;
    height: 0.1em;
    background: #808500 repeat-x;
    margin-bottom: 2px;
}

.stronger
{
    font-weight: bolder;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
