table
{
    border-collapse:collapse;
    width: 100%;
}
table,th, td
{
    vertical-align: top;
    border: 1px solid black;
}

.sInput
{
    border: 0px;

    font-size: x-small;
    font-family: monospace;
    border-color: #808500;
}

.sH3
{
font-size: 1.17em;
    font-weight: bold;
    font-family: "'Comic Sans MS'";
}
